*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191d1f;
    text-align: center;
    font-family: monospace;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
}

#heading{
    font-size: 3.5rem;
    margin-top: 30px;
    color: white;
}

.game{
    margin-top: 3%;
    height: 60vmin;
    width: 60vmin;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.3vmin;
}

.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: white;
    color: black;
}

#reset-btn{
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    width: 187px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    transition: 0.15s;
}

#reset-btn:hover , #new-game:hover{
    background-color: #000000;
    color: white;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 5px 5px rgb(49, 49, 49);
}
#new-game{
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    width: 187px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    transition: 0.15s;
}

.msg-container{
    /* border: 1px solid red; */
    height: 99.8%;
    font-size: 120px;
    width: 99.9%;
    color: white;
    text-shadow: 5px 5px grey;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0%;
    background-color: rgba(0,0,0,0.82);
    /* background-color: pink; */
}

#msg{
    margin-top: 36.4vmin;
}

.hide{
    /* visibility: hidden; */
    display: none;
}

@media screen and (max-width: 600px){
    #heading{
        font-size: 40px;
        margin-top: 140px;
        margin-bottom: 40px;
    }
    .container{
        height: 35vh;
        /* position: relative; */
    }
     #reset-btn,#new-game{
        position: relative;
        margin-bottom:10px;
        height: 37px;
        font-size: 14px;
    } 
    .buttons{
        width: 100%;
    }
    #msg{
        margin-top:320px;
        font-size: 40px;
    }
}